html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* La siguiente línea puede ser útil si hay un problema de "colapso" de márgenes o si el contenido se desborda */
  /* overflow-x: hidden; */
}